@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@font-face {
  font-family: "Inter";
  src: url("./fonts/InterVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-inter: "Inter", system-ui, sans-serif;
}

body {
  font-family: var(--font-inter);
}

.font-inter {
  font-family: var(--font-inter);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .background-blue {
    background-color: #1b5fad;
  }

  .paragraph-regular {
    @apply text-[16px] leading-[22.4px] font-normal;
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0;
  }

  .placeholder {
    @apply placeholder:text-gray-400 dark:placeholder:text-gray-500;
  }

  .h1-bold {
    @apply text-[30px] leading-10.5 font-bold tracking-tighter;
  }

  .h2-bold {
    @apply text-[24px] leading-[31.2px] font-bold;
  }

  .h2-semibold {
    @apply text-[24px] leading-[31.2px] font-semibold;
  }

  .h3-bold {
    @apply text-[20px] leading-6.5 font-bold;
  }

  .h3-semibold {
    @apply text-[20px] leading-[24.8px] font-semibold;
  }

  .small-medium {
    @apply text-[12px] leading-[15.6px] font-medium;
  }

  .base-medium {
    @apply text-[18px] leading-[25.2px] font-medium;
  }

  .base-semibold {
    @apply text-[18px] leading-[25.2px] font-semibold;
  }

  .base-bold {
    @apply text-[18px] leading-[140%] font-bold;
  }

  .body-regular {
    @apply text-[14px] leading-[19.6px] font-normal;
  }

  .body-medium {
    @apply text-[14px] leading-[18.2px] font-medium;
  }

  .body-semibold {
    @apply text-[14px] leading-[18.2px] font-semibold;
  }

  .small-regular {
    @apply text-[12px] leading-[15.6px] font-normal;
  }

  .small-medium {
    @apply text-[12px] leading-[15.6px] font-medium;
  }

  .small-semibold {
    @apply text-[12px] leading-[15.6px] font-semibold;
  }

  .subtle-medium {
    @apply text-[10px] leading-3.25 font-medium;
  }

  .subtle-regular {
    @apply text-[10px] leading-3.25 font-normal;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
